.buttons {
  width: 217px;
  height: 48px;
  background: #30af5e;
  box-shadow: 0px 8px 24px rgba(57, 172, 47, 0.4);
  border-radius: 24px;
  border: 0;
  color: white;
  position: relative;
}
.colText {
  width: max-content;
  display: flex;
  flex-direction: column;
}
.colorText {
  color: #26ab6d;
}
.posdotsImgTitle{
  position: absolute;
  top: -76px;
  right: -67px;
}
.overlaySvgTitle {
  position: absolute;
  width: 90px;
  height: 90px;
  left: -23px;
  top: 58px;
  background: white;
  opacity: 0.7;
}
.svgToolTipTittle {
  position: absolute;
  left: -34px;
  top: -32px;
}
.svgBtnTop {
  position: absolute;
  top: -7px;
  right: -8px;
}
.svgBtnBottom {
  position: absolute;
  bottom: -9px;
  left: -11px;
}
.backImg {
  background-color: white;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2fac5d;
  // background-image: url("../../asset/svg/backGround.svg");
  //backdrop-filter: opacity(0.2);
  //background-size: cover;
  &:before {
    content: "";
    background-image: url("../../asset/svg/topics-bg.svg  ");
    position: absolute;
    width: 80%;
    height: 423px;
    bottom: 40px;
  }
}
.imgBack {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
